name: dbt CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}/dbt-image:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}/dbt-image:latest

      # dbt tests exécutés dans le container
      - name: Run dbt tests in container
        run: |
          docker run --rm \
            -e DBT_HOST=${{ secrets.PGHOST }} \
            -e DBT_PORT=${{ secrets.PGPORT }} \
            -e DBT_USER=${{ secrets.PGUSER }} \
            -e DBT_PASSWORD=${{ secrets.PGPASSWORD }} \
            -e DBT_DBNAME=${{ secrets.PGDATABASE }} \
            ghcr.io/${{ github.repository }}/dbt-image:latest test
